<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>414923556928-4d5j03i2fltfald7r6of2sn43d75gd8k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.414923556928-4d5j03i2fltfald7r6of2sn43d75gd8k</string>
	<key>API_KEY</key>
	<string>AIzaSyCgdhJrmGdYJrNGhj2UjY8rMh2Wvvd3V7I</string>
	<key>GCM_SENDER_ID</key>
	<string>414923556928</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tunayalver.loovie</string>
	<key>PROJECT_ID</key>
	<string>loovie-39565</string>
	<key>STORAGE_BUCKET</key>
	<string>loovie-39565.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:414923556928:ios:c1a235b2e42548230af7a5</string>
	<key>DATABASE_URL</key>
	<string>https://loovie-39565.firebaseio.com</string>
</dict>
</plist>